<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      type="text/css"
      href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css')}}"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="{{ url_for('static', filename='css/style.css')}}"
      rel="stylesheet"
    />
    <title>Title</title>
  </head>
  <body>
    {% if session.get('auto')%} {{ url_for('index') }} {% endif %} {% block
    content %}
     <ul class="nav">
      {% for m in menu %}
      <li class="nav-item">
        <a class="nav-link" href="{{m['url']}}">{{m['name']}}</a>
      </li>
      {% endfor %}
    </ul>
    <form action="/auto" method="post" class="form-conact rform">
      <div class="rblock">
        <p>Введите логин</p>
        <input type="text" name="login" value="" required />
        <p>введите пароль</p>
        <input type="password" name="psw" value="" required />

        <br />
      </div>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes ifl">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
      <input type="submit" class="ibtn" value="Войти" />
      <p><a href="{{url_for('reg')}}">Регистрация</a></p>
    </form>
    {% endblock %}
  </body>
</html>
